<ion-menu side="start" type="push" menuId="MenuPrincipal" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Categorias</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/economia">Economia</ion-item>
      <ion-item routerLink="/politica">Politica</ion-item>
      <ion-item routerLink="/deportes">Deportes</ion-item>
      <ion-item routerLink="/policial">Policial</ion-item>
      <ion-item routerLink="/social">Social</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
